<div class=" card mt-2 border border-primary bd-highlight shadow p-3 mb-5 bg-white">
    <div class="card-body ">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data da publicação: {{postagem.data}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>